{% load markdown %}

{% if posts %}
<div id="blog-posts" class="blogList__posts">
  {% for post in posts %}
  <div class="blogList__post">
    <p class="blogList__post__publishedAt">{{post.published_at | date:"M d, Y"}}</p>
    <a class="blogList__post__title" href="{% url 'blog:detail' post.slug %}">{{post.title}}</a>
    <p class="blogList__post__content">{{ post.content | unmarkdown | truncatewords:60 }}</p>
    <div class="blogList__post__tags">
      {% for topic in post.topics.all %}
      <a class="jp-badge" href="{% url 'blog:index' %}?topic={{topic.slug}}">{{topic.name}}</a>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div id="blog-posts">
  <p>No post matches the given query.</p>
</div>
{% endif %}