html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.errorlist {
  color: var(--error);
  margin: 1rem 0 0;
}

.nav {
  border-bottom: var(--border-width) solid var(--border);
}

.nav-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  height: 4rem;
}

.nav-main {
  align-items: center;
  display: flex;
  gap: 2rem;
}

@media only screen and (max-width: 48rem) {
  .nav-content {
    flex-direction: column;
    height: auto;
    padding: 1rem !important;
  }

  .nav-main {
    flex-direction: column;
    gap: 1rem;
  }
}

.nav-logo {
  height: 3rem;
  width: 3rem;
}

.nav-links ul {
  align-items: center;
  display: flex;
  list-style-type: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline-block;
}

.nav-links a,
.nav-links a:visited,
.nav-links a:hover {
  border: var(--border-width) solid var(--border);
  border-radius: 0.25rem;
  color: var(--foreground);
  display: inline-block;
  padding: 0.25rem 0.75rem;
  text-decoration: none;
}

.nav-links li[data-active='true'] a,
.nav-links li[data-active='true'] a:visited,
.nav-links li[data-active='true'] a:hover {
  border-color: var(--border-width) solid var(--primary);
  color: var(--primary);
}

main {
  flex-grow: 1;
  padding-top: 1.5rem !important;
}

body > footer {
  background-color: var(--muted);
  border-top: var(--border-width) solid var(--border);
  color: var(--muted-foreground);
  font-size: 0.875rem;
  margin-top: 4rem;
  padding: 2rem 1rem;
  text-align: center;
}
