/* Make body take up full height */

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  padding-top: 1.5rem !important;
}

/* Style error messages in Django forms */

.errorlist {
  color: var(--error);
  margin: 1rem 0 0;
}

/* Navbar styles */

.nav {
  border-bottom: var(--border-width) solid var(--border);
}

.nav-content {
  align-items: center;
  display: flex;
  gap: 1rem;
  height: 4rem;
  position: relative;
}

.nav-logo {
  display: block;
  height: 3rem;
  width: 3rem;
}

.nav-links {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.nav-links a,
.nav-links a:visited {
  border-radius: 0.25rem;
  color: var(--foreground);
  font-size: 0.875rem;
  line-height: normal;
  padding: 0.5rem;
  text-decoration: none;
}

.nav-links a:hover,
.nav-links a[data-active] {
  background-color: var(--muted);
}

.nav-button {
  align-items: center;
  background-color: unset;
  border: none;
  color: var(--foreground);
  display: flex;
  height: 2rem;
  justify-content: center;
  width: 2rem;
}

.nav-button:hover {
  background-color: var(--muted);
}

.menu-popover {
  background-color: var(--background);
  border: var(--border-width) solid var(--border);
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: absolute;
  right: 1rem;
  top: 3.5rem;
  width: 12rem;
  z-index: 10;
}

.menu-links {
  display: flex;
  flex-direction: column;
}

.menu-links a,
.menu-links a:visited {
  color: var(--foreground);
  font-size: 0.875rem;
  line-height: normal;
  padding: 0.75rem 1rem;
  text-decoration: none;
}

.menu-links a:hover {
  background-color: var(--muted);
}

.menu-links a[data-active] {
  color: var(--primary);
}

@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}

/* Footer styles */

.footer {
  background-color: var(--muted);
  border-top: var(--border-width) solid var(--border);
  color: var(--muted-foreground);
  font-size: 0.875rem;
  margin-top: 4rem;
  padding: 2rem 1rem;
  text-align: center;
}
