.blogList__searchForm {
  align-items: end;
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.blogList__posts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.blogList__post {
  background-color: var(--oc-gray-0);
  border: 1px solid var(--oc-gray-4);
  border-radius: 0.25rem;
  padding: 1rem;
  width: 100%;
}

.blogList__post__date {
  color: var(--oc-gray-6);
  font-size: 0.875rem;
}

.blogList__post__title {
  display: block;
  font-size: 1.25rem;
}

.blogList__post__content {
  margin: 1rem 0;
}

.blogList__post__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
