@page {
  margin: 1.5rem;
  size: Letter;
}

html,
body {
  font-size: 13px;
  font-family: 'DejaVu Serif', sans-serif;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.title {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
}

.sectionHeader {
  border-bottom: 2px solid black;
  font-size: 1.125rem;
  text-transform: uppercase;
}

p {
  margin: 0.5rem 0;
}

ul li {
  line-height: 1.25;
}
