@page {
  margin: 0;
  size: Letter;
}

html,
body {
  font-family: "Arial";
  margin: 0;
  padding: 0;
}

body {
  color: #212529;
}

* {
  box-sizing: border-box;
}

a {
  color: #212529;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  padding-inline-start: 1rem;
  padding-left: 1rem;
  font-size: 14px;
}

ul li {
  line-height: 1.5;
  margin-bottom: 0.25rem;
}

.container {
  padding: 1rem;
  width: 100%;
}

.header {
  background-color: #212529;
  color: #f8f9fa;
  padding: 1.5rem;
}

.header__name {
  font-size: 24px;
  font-weight: 700;
}

.header__title {
  font-size: 20px;
  font-weight: 500;
}

.content {
  display: flex;
  flex-direction: row;
}

.content__side {
  background-color: #f8f9fa;
  border-right: 1px solid #ced4da;
  height: 909px;
  padding: 1rem;
  width: 200px;
}

.content__main {
  flex: 1;
}

.tagline {
  font-size: 18px;
  margin: 4rem 0;
}

.section__title {
  border-bottom: 2px solid #ced4da;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
}

.profile__links {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}

.profile__link {
  align-items: center;
  display: flex;
}

.profile__link img {
  margin-right: 0.5rem;
  height: 20px;
  width: 20px;
}

.profile__link a, .profile__link div {
  display: block;
  font-size: 12px;
}

.badgeGrid {
  display: flex;
  flex-wrap: wrap;
}

.badge {
  background-color: #4263eb;
  border-radius: 24px;
  color: white;
  font-size: 11px;
  font-weight: 500;
  margin: 0.125rem;
  padding: 0.25rem 0.5rem;
  width: fit-content;
}

.educationItem__school {
  color: #343a40;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.educationItem__location {
  color: #495057;
  font-size: 14px;
  margin-bottom: 0.5rem;
}

.experienceItem__title {
  color: #343a40;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.experienceItem__location {
  color: #495057;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 1rem;
}

.experienceItem__description {
  font-size: 14px;
  line-height: 1.5;
}