{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jordan Price</title>
    <link rel="stylesheet" href="{% static 'resume/new_resume.css' %}" />
  </head>
  <body>
    <section style="text-align: center;">
      <h1>Jordan Price</h1>
      <p>Pleasant Grove, Utah</p>
      <p>
        pricejordan@outlook.com | (801) 857-0620 | <a href="https://github.com/shakedown-street">github.com/shakedown-street</a> | <a href="https://linkedin.com/in/pork">linkedin.com/in/pork</a>
      </p>
    </section>
    <section>
      <h2 class="sectionHeader">Summary</h2>
      <p>
        Senior Software Developer with 10+ years of experience and expertise in Django backend systems and React web applications. Experienced in delivering client projects on time and within budget, managing multiple concurrent projects, collaborating with clients to define scope and provide estimates, and optimizing development processes to increase team efficiency.
      </p>
    </section>
    <section>
      <h2 class="sectionHeader">Skills</h2>
      <p>JavaScript, TypeScript, Python, Java, React, Angular, Django, HTMX, Electron, Docker, Nginx, Linux, PostgreSQL</p>
    </section>
    <section>
      <h2 class="sectionHeader">Experience</h2>
      <div class="flex align-center justify-between">
        <div>
          <b>Start Studio</b> (formerly Izeni)
        </div>
        <div>
          <b>Sep 2015 – Present</b>
        </div>
      </div>
      <div class="flex align-center justify-between">
        <div>Senior Software Developer</div>
        <div>
          <em>Remote</em>
        </div>
      </div>
      <ul>
        <li>
          Delivered numerous client projects on time and within budget, strengthening client relationships and driving repeat business through referrals.
        </li>
        <li>
          Managed multiple concurrent projects, effectively prioritizing tasks and maintaining on-time delivery in fast-paced environments.
        </li>
        <li>
          Worked closely with clients and designers during project planning to define scope, clarify requirements, and provide accurate cost estimates.
        </li>
        <li>
          Developed internal backend and frontend project templates, enabling faster project initialization and reducing costs by providing prebuilt, well-polished common functionality.
        </li>
        <li>
          Created an internal estimate builder tool that standardized project estimation across teams, ensuring consistency and professionalism in client proposals.
        </li>
        <li>
          Designed and implemented a reusable React UI library, streamlining frontend development and ensuring a cohesive design system across all projects.
        </li>
        <li>
          Trained and mentored 8+ junior and mid-level developers, accelerating onboarding and enhancing overall team efficiency.
        </li>
      </ul>
    </section>
    <section>
      <h2 class="sectionHeader">Projects</h2>
      <div>
        <h3>PunkwebBB (Django, HTMX, jQuery)</h3>
        <a href="https://github.com/Punkweb/PunkwebBB">https://github.com/Punkweb/PunkwebBB</a>
        <p>Django reusable application that provides a simple to use forum board for any Django website.</p>
        <ul>
          <li>
            Built with a focus on being simple to install and configure, providing a functional BBCode forum board out of the box.
          </li>
          <li>Utilized HTMX to create user-friendly UI interactions with minimal JavaScript and without full page reloads.</li>
        </ul>
      </div>
      <div>
        <h3>FitPulse (Django, React, TypeScript)</h3>
        <a href="https://github.com/shakedown-street/fit-pulse">https://github.com/shakedown-street/fit-pulse</a>
        <p>Web app that measures improvement on exercise metrics and tracks daily caloric and macro nutrient intake.</p>
        <ul>
          <li>
            Built within a month, showcases clean project architecture of a Django REST framework API and React SPA project.
          </li>
        </ul>
      </div>
    </section>
    <section>
      <h2 class="sectionHeader">Education</h2>
      <div class="flex align-center justify-between">
        <div>
          <b>Timpanogos High School</b>
        </div>
        <div>Orem, UT</div>
      </div>
      <ul>
        <li>Relevant Courses: Computer Programming (C#), AP Computer Science (Java)</li>
      </ul>
    </section>
  </body>
</html>
