{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jordan Price</title>
    <link rel="stylesheet" href="{% static 'resume/resume.css' %}" />
  </head>
  <body>
    <section style="text-align: center;">
      <h1 class="title">Jordan Price</h1>
      <div>Pleasant Grove, UT • (801) 857-0620 • pricejordan@outlook.com</div>
      <div>
        <a href="https://github.com/shakedown-street">github.com/shakedown-street</a> • <a href="https://linkedin.com/in/pork">linkedin.com/in/pork</a>
      </div>
    </section>
    {% comment %} TODO: Objective {% endcomment %}
    <section>
      <h2 class="sectionHeader">Experience</h2>
      <div class="flex align-center justify-between">
        <div>
          <b>Start Studio</b> (formerly Izeni)
        </div>
        <div>Spanish Fork, UT (Remote)</div>
      </div>
      <div class="flex align-center justify-between">
        <div>
          <em>Senior Full-Stack Developer</em>
        </div>
        <div>Sep 2015 – Present</div>
      </div>
      <ul>
        <li>Developed web applications mainly using Django and React while maintaining strict code quality standards</li>
        <li>Designed scalable REST APIs, optimizing database models and queries for high-performance applications</li>
        <li>Built a React component library and state-of-the-art project templates to accelerate development</li>
        <li>Managed concurrent projects from conception to deployment with efficient prioritization</li>
        <li>Collaborated with stakeholders to define technical requirements and provide accurate project estimates</li>
        <li>Mentored development team members through code reviews and knowledge sharing sessions</li>
      </ul>
    </section>
    <section>
      <h2 class="sectionHeader">Personal Projects</h2>
      <div>
        <div class="flex align-center justify-between">
          <div>
            <b>Schedule Builder - Whole Child Therapy</b>
          </div>
          <div>
            <a href="https://github.com/shakedown-street/twc-scheduler">github.com/shakedown-street/twc-scheduler</a>
          </div>
        </div>
        <div>
          <em>Django, React, TypeScript, TailwindCSS, shadcn/ui</em>
        </div>
        <p>
          Sophisticated appointment scheduling web application for therapy practices with intelligent matching capabilities.
        </p>
        <ul>
          <li>Significantly reduced the time and effort spent on appointment scheduling for Whole Child Therapy</li>
          <li>Designed and implemented a complex matching algorithm for efficient technician-client pairing</li>
          <li>Created comprehensive data models for managing appointments, availability, and requirements</li>
          <li>Implemented robust validation and schedule conflict prevention systems</li>
        </ul>
      </div>
      <div>
        <div class="flex align-center justify-between">
          <div>
            <b>PunkwebBB</b>
          </div>
          <div>
            <a href="https://github.com/Punkweb/PunkwebBB">github.com/Punkweb/PunkwebBB</a>
          </div>
        </div>
        <div>
          <em>Django, HTMX</em>
        </div>
        <p>Open source Django forum board software designed for seamless integration into any Django project.</p>
        <ul>
          <li>Created advanced permission system and role-based access control</li>
          <li>Implemented client-side features including shoutbox and modals with zero JavaScript using HTMX</li>
          <li>Integrated multiple parsers and rich text editors for both BBCode and Markdown support</li>
          <li>
            Designed responsive, user-friendly interface with custom built CSS Framework (<a href="https://github.com/Punkweb/punkweb-ui">punkweb-ui</a>)
          </li>
          <li>Maintained high test coverage and comprehensive documentation</li>
        </ul>
      </div>
      <div>
        <div class="flex align-center justify-between">
          <div>
            <b>FitPulse</b>
          </div>
          <div>
            <a href="https://github.com/shakedown-street/fit-pulse">github.com/shakedown-street/fit-pulse</a>
          </div>
        </div>
        <div>
          <em>Django, React, TypeScript, PostgreSQL</em>
        </div>
        <p>Full-stack web application for tracking diet and exercise progress.</p>
        <ul>
          <li>Developed a system to track improvements in user defined exercise metrics</li>
          <li>Built a custom diet and macro nutrient tracking system</li>
          <li>Implemented complex data visualization features</li>
          <li>Designed a responsive, user-friendly interface</li>
        </ul>
      </div>
    </section>
    <section>
      <h2 class="sectionHeader">Skills</h2>
      <div>
        <div>
          <b>Backend Development</b>
        </div>
        <p>Python, Django, Node.js, PostgreSQL, Firebase, REST APIs, GraphQL</p>
      </div>
      <div>
        <div>
          <b>Frontend Development</b>
        </div>
        <p>React, Next.js, Angular, TypeScript, Electron, SCSS, Tailwind CSS, Vite</p>
      </div>
      <div>
        <div>
          <b>Infrastructure</b>
        </div>
        <p>Docker, Nginx, DigitalOcean, S3, CI/CD, Linux</p>
      </div>
    </section>
    <section>
      <h2 class="sectionHeader">Education</h2>
      <div class="flex align-center justify-between">
        <div>
          <b>Timpanogos High School</b>
        </div>
        <div>Orem, UT</div>
      </div>
      <p>Relevant Courses: Computer Programming (C#), AP Computer Science (Java)</p>
    </section>
  </body>
</html>
