{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Jordan R. Price</title>
  <link rel="stylesheet" href="{% static 'resume/resume.css' %}" />
</head>

<body>
  <div class="header">
    <h1 class="header__name">Jordan R. Price</h1>
    <h2 class="header__title">Senior Web Developer</h2>
  </div>
  <div class="content">
    <div class="content__side">
      <h3 class="section__title">Profile</h3>
      <div class="profile__address"></div>
      <div class="profile__links">
        <div class="profile__link">
          <img src="{% static 'resume/location-material-outlined.svg' %}" />
          <div>Pleasant Grove, UT</div>
        </div>
        <div class="profile__link">
          <img src="{% static 'resume/phone-material-outlined.svg' %}" />
          <a href="tel:8018570620">(801) 857-0620</a>
        </div>
        <div class="profile__link">
          <img src="{% static 'resume/email-material-outlined.svg' %}" />
          <a href="mailto:pricejordan@outlook.com">pricejordan@outlook.com</a>
        </div>
        <div class="profile__link">
          <img src="{% static 'resume/github-material-outlined.svg' %}" />
          <a href="https://github.com/shakedown-street">github.com/shakedown-street</a>
        </div>
        <div class="profile__link">
          <img src="{% static 'resume/github-material-outlined.svg' %}" />
          <a href="https://github.com/Punkweb">github.com/Punkweb</a>
        </div>
        <div class="profile__link">
          <img src="{% static 'resume/linkedin-material-outlined.svg' %}" />
          <a href="https://linkedin.com/in/pork">linkedin.com/in/pork</a>
        </div>
      </div>
      <h3 class="section__title">Languages</h3>
      <div class="badgeGrid">
        <div class="badge">Python</div>
        <div class="badge">JavaScript</div>
        <div class="badge">TypeScript</div>
        <div class="badge">HTML</div>
        <div class="badge">CSS</div>
        <div class="badge">SCSS</div>
      </div>
      <h3 class="section__title">Frameworks</h3>
      <div class="badgeGrid">
        <div class="badge">Django</div>
        <div class="badge">Express</div>
        <div class="badge">React</div>
        <div class="badge">Next.js</div>
        <div class="badge">Angular (2+)</div>
        <div class="badge">Angular.js</div>
        <div class="badge">Mithril.js</div>
        <div class="badge">HTMX</div>
        <div class="badge">jQuery</div>
      </div>
      <h3 class="section__title">Tools</h3>
      <div class="badgeGrid">
        <div class="badge">Linux</div>
        <div class="badge">Docker</div>
        <div class="badge">PostgreSQL</div>
        <div class="badge">Nginx</div>
        <div class="badge">Git</div>
        <div class="badge">Vite</div>
        <div class="badge">Parcel</div>
        <div class="badge">Webpack</div>
        <div class="badge">Electron</div>
        <div class="badge">Pytest</div>
        <div class="badge">Jest</div>
        <div class="badge">Selenium</div>
      </div>
      <h3 class="section__title">Education</h3>
      <div class="educationItem">
        <div class="educationItem__school">Timpanogos High School</div>
        <div class="educationItem__location">Orem, UT</div>
        <div class="educationItem__location">Graduated 2016</div>
      </div>
      <p>Relevant courses:</p>
      <ul>
        <li>Computer Programming (C#)</li>
        <li>AP Computer Science (Java)</li>
      </ul>
    </div>
    <div class="content__main">
      <div class="container">
        <p class="tagline">
          8+ years of experience building REST and GraphQL APIs, and web and
          desktop applications.
        </p>
        <h3 class="section__title">Work Experience</h3>
        <div class="experienceItem">
          <h4 class="experienceItem__title">
            Senior Web Developer, Start Studio (formerly Izeni)
          </h4>
          <div class="experienceItem__location">
            Spanish Fork, UT • September 2015 — Present
          </div>
          <p class="experienceItem__description">
            Start Studio is a fast paced development shop that specializes in helping businesses scope, design and
            build software products. Started working as an intern while in high school. Learned the
            basics of Django and Angular.js, and within a month was hired as a full time employee. Made considerable
            growth, adapted to an ever changing environment and was promoted to Senior Web Developer.
          </p>
          <ul>
            <li>
              Gained a deep understanding of relational databases, REST and GraphQL APIs, frontend frameworks and
              tools, Docker, and Linux systems.
            </li>
            <li>
              Designed and implemented secure, robust and performant REST API's with Django REST framework, and GraphQL
              API's with Graphene.
            </li>
            <li>
              Developed clean looking and well architectured web and desktop applications, mainly using Angular (2+),
              React and Electron.
            </li>
            <li>
              Built projects using a variety of other frontend frameworks, including Next.js, Angular.js, Mithril.js,
              jQuery, and more.
            </li>
            <li>
              Worked closely with clients to gather requirements, provide estimates, scope and plan projects, deliver
              MVPs, and provide ongoing support.
            </li>
            <li>
              Mentored junior developers to help them grow their skills. Hosted weekly training sessions to teach
              best practices and foster a culture of learning and growth.
            </li>
            <li>
              Continually improved project templates and development processes.
            </li>
          </ul>
        </div>
      </div>
      <p>This resume is generated using Django + WeasyPrint, built with HTML/CSS :)</p>
    </div>
  </div>
</body>

</html>