<article class="pw-card">
  <header>
    <div class="flex items-center gap-4">
      <div class="pw-avatar sm">
        <img class="pw-avatar-image"
             src="{{ testimonial.author_image.url }}"
             alt="{{ testimonial.author_name }}" />
      </div>
      <div>
        <div class="font-bold">{{ testimonial.author_name }}</div>
        <div class="text-sm text-muted-foreground">{{ testimonial.author_title }}</div>
        <div class="text-sm text-muted-foreground">{{ testimonial.relationship }}</div>
      </div>
    </div>
  </header>
  <p class="mb-0 text-pre-wrap">{{ testimonial.content }}</p>
</article>
