{% extends 'jprice/base.html' %}

{% load static compress markdown %}

{% block extra_head %}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'utils/prism-punkweb.css' %}" />
  {% endcompress %}
{% endblock %}
{% block extra_script %}
  {% compress js %}
    <script src="{% static 'utils/prism.js' %}"></script>
  {% endcompress %}
{% endblock %}
{% block content %}
  <a class="block my-6" href="{% url 'blog:index' %}">&larr; Back to blog</a>
  {% if not post.is_published %}<div class="pw-callout mb-6">This post has not been published yet.</div>{% endif %}
  <article>
    <header>
      <h1 class="mb-0">{{ post.title }}</h1>
      <p class="text-sm text-muted">{{ post.published_at | date:"M d, Y" }}</p>
      <div class="flex flex-wrap gap-2">
        {% for topic in post.topics.all %}<div class="pw-badge rounded-3xl">{{ topic.name }}</div>{% endfor %}
      </div>
    </header>
    <hr />
    {{ post.content | markdown }}
  </article>
{% endblock %}
