{% extends 'jprice/base.html' %}
{% load static %}

{% block title_prefix %}Blog | {% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'blog/blog.css' %}">
{% endblock %}

{% block content %}

<h1>Blog</h1>

<form class="blogList__searchForm" hx-post="{% url 'blog:index' %}" hx-trigger="input delay:250ms"
  hx-target="#blog-posts" hx-swap="outerHTML">
  <input class="jp-input" id="search" name="search" placeholder="Search" type="text" />
  <select class="jp-input" id="topic" name="topic">
    <option value="">All</option>
    {% for topic in topics %}
    <option value="{{topic.slug}}">{{topic.name}}</option>
    {% endfor %}
  </select>
</form>

{% include 'blog/partials/posts.html' %}

{% endblock %}