{% extends 'jprice/base.html' %}

{% load markdown static %}

{% block content %}
  <section>
    <h1>Jordan Price</h1>
    <h3>Software & Web Developer</h3>
    <p>
      I'm a senior full-stack developer specializing in Django and React.
      I thrive in fast moving studio and startup environments where I can take projects from concept to deployment.
      I combine strong technical skills with solid business insight to build scalable,
      efficient solutions that deliver real impact without wasted effort.
    </p>
  </section>
  <section>
    <h2>Projects</h2>
    {% for project in projects %}
      <article>
        <header>
          <a href="{% url 'projects:detail' project.slug %}">
            <h3>{{ project.name }}</h3>
          </a>
          <div class="badge-list">
            {% for technology in project.technologies.all %}<div class="badge">{{ technology.name }}</div>{% endfor %}
          </div>
        </header>
        <p>{{ project.description }}</p>
      </article>
    {% endfor %}
    <a href="{% url 'projects:index' %}">See all projects</a>
  </section>
  <section>
    <h2>Blog</h2>
    {% for post in posts %}
      <article>
        <header>
          <a href="{% url 'blog:detail' post.slug %}">
            <h3>{{ post.title }}</h3>
          </a>
          <p>{{ post.published_at | date:"M d, Y" }}</p>
          <div class="badge-list">
            {% for topic in post.topics.all %}<div class="badge">{{ topic.name }}</div>{% endfor %}
          </div>
        </header>
        <p>{{ post.content | unmarkdown | truncatewords:60 }}</p>
      </article>
    {% endfor %}
    <a href="{% url 'blog:index' %}">See all posts</a>
  </section>
  <section>
    <h2>Skills</h2>
    <div class="badge-list">
      {% for technology in technologies %}<div class="badge">{{ technology.name }}</div>{% endfor %}
    </div>
  </section>
  <section>
    <div class="contact-form-wrapper">
      <h2>Contact Me</h2>

      {% include 'contact/partials/contact_form.html' with form=contact_form %}

    </div>
  </section>
{% endblock %}
