{% extends 'jprice/base.html' %}

{% load markdown static %}

{% block content %}
  <section class="mb-8">
    <h1>Jordan Price</h1>
    <h3>Software & Web Developer</h3>
    <p>
      I'm a senior full stack developer specializing in Django and React.
      I thrive in fast moving studio and startup environments where I can take projects from concept to deployment.
      I combine strong technical skills with solid business insight to build scalable,
      efficient solutions that deliver real impact without wasted effort.
    </p>
  </section>
  {% if testimonials %}
    <section class="mb-8">
      <h2>Testimonials</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        {% for testimonial in testimonials %}

          {% include 'projects/partials/testimonial_card.html' %}

        {% endfor %}
      </div>
    </section>
  {% endif %}
  <section class="mb-8">
    <h2>Skills</h2>
    <div class="flex flex-wrap gap-2">
      {% for technology in technologies %}<div class="pw-badge rounded">{{ technology.name }}</div>{% endfor %}
    </div>
  </section>
  <section class="mb-8">
    <h2>Projects</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      {% for project in projects %}

        {% include 'projects/partials/project_card.html' %}

      {% endfor %}
    </div>
    <a class="pw-button mt-4" href="{% url 'projects:index' %}">See all projects</a>
  </section>
  <section class="mb-8">
    <h2>Blog</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4">
      {% for post in posts %}

        {% include 'blog/partials/post_card.html' %}

      {% endfor %}
    </div>
    <a class="pw-button mt-4" href="{% url 'blog:index' %}">See all posts</a>
  </section>
  <hr />
  <section>
    <div class="flex flex-col items-center">
      <h2>Contact Me</h2>
      <div class="pw-card">
        <form class="pw-form" action="{% url 'contact:index' %}" method="post">
          {% csrf_token %}
          {{ contact_form }}
          <div class="pw-form-actions">
            <button class="pw-button fluid primary" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock %}
