.jp-input {
  background: transparent;
  border: 2px solid lightgray;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  padding: 0.5rem 1rem;
  transition: all 0.1s ease-in-out;
}

.jp-input:disabled {
  cursor: not-allowed;
}

.jp-input.textarea {
  max-width: 100%;
  min-height: 8rem;
  padding: 1rem;
}

.jp-input:hover {
  border: 2px solid gray;
}

.jp-input:focus,
.jp-input:active {
  border: 2px solid #1862ab;
}