body {
  background-color: var(--oc-white);
  color: var(--oc-gray-9);
}

a {
  color: var(--primary-9);
}

hr {
  border: none;
  border-top: 1px solid var(--border);
  margin: 1rem 0;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  user-select: none;
}

.main {
  margin: 2rem 0;
}

/* Nav */

.nav {
  background-color: var(--oc-gray-9);
  padding: 1rem 0;
}

.nav__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav__title a {
  color: white;
  font-size: 1.5rem;
}

.nav__links {
  align-items: center;
  display: flex;
  gap: 1.5rem;
}

.nav__link {
  color: white;
  font-size: 16px;
}
