html, body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --gray-0: #f8f9fa;
  --gray-1: #f1f3f5;
  --gray-2: #e9ecef;
  --gray-3: #dee2e6;
  --gray-4: #ced4da;
  --gray-5: #adb5bd;
  --gray-6: #868e96;
  --gray-7: #495057;
  --gray-8: #343a40;
  --gray-9: #212529;
  --red-0: #fff5f5;
  --red-9: #c92a2a;
  --blue-7: #1c7ed6;
  --blue-8: #1971c2;
  --blue-9: #1862ab;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--blue-9);
  text-decoration: none;
}

li a {
  text-decoration: none;
}

.main {
  margin: 2rem 0;
}

.container {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 1rem;
}

/* Nav */

.nav {
  background-color: var(--gray-9);
  padding: 1rem 0;
}

.nav__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav__title {
  font-size: 32px;
}

.nav__title a {
  color: white;
}

.nav__links {
  align-items: center;
  display: flex;
  gap: 1.5rem;
}

.nav__link {
  color: white;
  font-size: 16px;
}

/* Skills */

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 280px;
}
