:root {
  --primary-0: var(--oc-indigo-0);
  --primary-1: var(--oc-indigo-1);
  --primary-2: var(--oc-indigo-2);
  --primary-3: var(--oc-indigo-3);
  --primary-4: var(--oc-indigo-4);
  --primary-5: var(--oc-indigo-5);
  --primary-6: var(--oc-indigo-6);
  --primary-7: var(--oc-indigo-7);
  --primary-8: var(--oc-indigo-8);
  --primary-9: var(--oc-indigo-9);

  --border: var(--oc-gray-4);
}
