{% extends 'jprice/base.html' %}

{% load static compress markdown %}

{% block extra_head %}
  {% compress css %}
    <link rel="stylesheet" href="{% static 'utils/prism-punkweb.css' %}" />
  {% endcompress %}
{% endblock %}
{% block extra_script %}
  {% compress js %}
    <script src="{% static 'utils/prism.js' %}"></script>
  {% endcompress %}
{% endblock %}
{% block content %}
  <a class="block my-6" href="{% url 'projects:index' %}">&larr; Back to projects</a>
  {% if not project.is_published %}
    <div class="pw-callout mb-6">This project has not been published yet.</div>
  {% endif %}
  {% if testimonials %}
    <section class="my-8">
      <div class="flex flex-col gap-4">
        {% for testimonial in testimonials.all %}

          {% include 'projects/partials/testimonial_card.html' %}

        {% endfor %}
      </div>
    </section>
  {% endif %}
  <article>
    <header>
      <h1>{{ project.name }}</h1>
      <div class="flex flex-wrap gap-2">
        {% for technology in project.technologies.all %}
          <div class="pw-badge rounded-3xl">{{ technology.name }}</div>
        {% endfor %}
      </div>
      <p>
        <strong>Type:</strong> {{ project.type }}
      </p>
      <p>
        <strong>Links:</strong>
      </p>
      <nav>
        <ul>
          {% if project.github_url %}
            <li>
              <a href="{{ project.github_url }}" target="_blank">GitHub</a>
            </li>
          {% endif %}
          {% if project.website_url %}
            <li>
              <a href="{{ project.website_url }}" target="_blank">Website</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <hr />
    {{ project.content | markdown }}
  </article>
{% endblock %}
