{% extends 'jprice/base.html' %}

{% load markdown static %}

{% block title_suffix %}| {{ project.name }}{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'utils/prism-duotone-sea.css' %}" />
{% endblock %}
{% block content %}
  {% if not project.is_published %}
    <div class="callout" style="margin: 2rem 0;">
      <p>This project has not been published yet.</p>
    </div>
  {% endif %}
  <a href="{% url 'projects:index' %}">&larr; Back to projects</a>
  <h1>{{ project.name }}</h1>
  <div class="badge-list">
    {% for technology in project.technologies.all %}<div class="badge">{{ technology.name }}</div>{% endfor %}
  </div>
  <nav>
    <ul>
      {% if project.github_url %}
        <li>
          <a href="{{ project.github_url }}" target="_blank">GitHub</a>
        </li>
      {% endif %}
      {% if project.website_url %}
        <li>
          <a href="{{ project.website_url }}" target="_blank">Website</a>
        </li>
      {% endif %}
    </ul>
  </nav>
  <hr />
  {{ project.content | markdown | safe }}
{% endblock %}
{% block extra_script %}
  <script src="{% static 'utils/prism.js' %}"></script>
{% endblock %}
