{% extends 'jprice/base.html' %}

{% load markdown static %}

{% block title_suffix %}| Projects{% endblock %}
{% block content %}
  <h2>Projects</h2>
  {% for project in projects %}
    <article>
      <header>
        <a href="{% url 'projects:detail' project.slug %}">
          <h3>{{ project.name }}</h3>
          {% if not project.is_published %}<span class="badge badge-warning">Unpublished</span>{% endif %}
        </a>
      </header>
      <p>{{ project.description | unmarkdown | truncatewords:60 }}</p>
      <footer>
        <div class="badge-list">
          {% for technology in project.technologies.all %}<div class="badge">{{ technology.name }}</div>{% endfor %}
        </div>
      </footer>
    </article>
  {% endfor %}
{% endblock %}
