{% extends 'jprice/base.html' %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'contact/contact.css' %}">
{% endblock %}

{% block content %}

<div class="contact">
  <h1>Contact Me</h1>

  <form class="contactForm" action="{% url 'contact:index' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
      <div class="contactForm__field">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
          <ul class="errorlist">
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </div>
    {% endfor %}
    <button class="pw-button primary fluid raised" type="submit">Send Message</button>
  </form>
</div>

{% endblock %}