<nav class="nav">
  <div class="container">
    <div class="nav__content">
      <div class="nav__title">
        <a href="{% url 'index' %}">
          Jordan Price
        </a>
      </div>
      <div class="nav__links">
        <a class="nav__link" href="{% url 'index' %}">About</a>
        <!-- <a class="nav__link" href="">Work</a> -->
        <a class="nav__link" href="{% url 'blog:index' %}">Blog</a>
        <a class="jp-button raised" href="{% url 'contact:index' %}">Contact</a>
      </div>
    </div>
  </div>
</nav>