{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title_prefix %}{% endblock %}
    Jordan Price</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'jprice/punkweb-ui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'jprice/variables.css' %}" />
    <link rel="stylesheet" href="{% static 'jprice/style.css' %}" />
    {% block extra_head %}{% endblock %}
  </head>
  <body>

    {% include 'jprice/partials/nav.html' %}

    <main class="main">
      <div class="pw-container">
        {% block content %}{% endblock %}
      </div>
    </main>
    {% block extra_script %}{% endblock %}
  </body>
</html>
