{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <title>
      {% block title_prefix %}{% endblock %}
    Jordan Price</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'jprice/elements.css' %}" />
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <header>
      <h1>Jordan Price</h1>
      <p>Software & Web Developer</p>
      <nav>
        <ul>
          <li>
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/pork/" target="_blank">LinkedIn</a>
          </li>
          <li>
            <a href="https://github.com/shakedown-street" target="_blank">Github</a>
          </li>
          <li>
            <a href="{% url 'resume:resume_pdf' %}" target="_blank">Resume</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container">
      {% block content %}{% endblock %}
    </main>
    {% block extra_script %}{% endblock %}
  </body>
</html>
