{% extends 'jprice/base.html' %}
{% load static %}

{% block content %}

<a href="https://www.linkedin.com/in/jordan-price-a32a5113a/" target="_blank"><button
    class="jp-button">LinkedIn</button>
</a>
<a href="https://github.com/shakedown-street" target="_blank">
  <button class="jp-button">Github</button>
</a>

<h2>About Me</h2>
<ul>
  <li>I'm a skilled web developer with over 8 years of work experience building REST and GraphQL APIs, web and desktop
    applications, and open source libraries, both internally and for clients.
  </li>
  <li>I have a deep understanding of Django, React, and Angular (2+). I also have a great understanding of
    relational databases, REST and GraphQL APIs, Docker, and Linux systems. I have worked with a variety of
    other technologies on top of these, including Next.js Angular.js, Mithril.js, Node.js, jQuery, HTMX, Electron
    and more.</li>
  <li></li>
</ul>

<a href="{% url 'resume:resume_pdf' %}" target="_blank">Download my resume</a>

<h2>Skills</h2>

<h3>Frontend</h3>
<div class="skills">
  <div class="jp-badge">JavaScript</div>
  <div class="jp-badge">TypeScript</div>
  <div class="jp-badge">React</div>
  <div class="jp-badge">Angular (2+)</div>
  <div class="jp-badge">Angular.js</div>
  <div class="jp-badge">Mithril.js</div>
  <div class="jp-badge">jQuery</div>
  <div class="jp-badge">Electron</div>
  <div class="jp-badge">CSS/SCSS</div>
  <div class="jp-badge">HTML</div>
</div>

<h3>Backend</h3>
<div class="skills">
  <div class="jp-badge">Python</div>
  <div class="jp-badge">Django</div>
  <div class="jp-badge">Node.js</div>
  <div class="jp-badge">PostgreSQL</div>
  <div class="jp-badge">Docker</div>
  <div class="jp-badge">Linux Server</div>
</div>

{% endblock %}