:root {
  --primary: var(--tw-emerald-600);
  --primary-foreground: var(--tw-gray-50);

  --accent: var(--tw-sky-600);
  --accent-foreground: var(--tw-gray-50);

  --selection: var(--tw-emerald-200);
}

[data-theme='dark'] {
  --primary: var(--tw-emerald-300);
  --primary-foreground: var(--tw-gray-950);

  --accent: var(--tw-sky-300);
  --accent-foreground: var(--tw-gray-950);

  --selection: var(--tw-emerald-700);
}
